DTD_Buoi1/benhvien.dtd

<!-- Root -->
<!ELEMENT hospital (app:appointment+)>
<!ATTLIST hospital
    xmlns     CDATA #IMPLIED
    xmlns:pat CDATA #IMPLIED
    xmlns:doc CDATA #IMPLIED
    xmlns:app CDATA #IMPLIED
>

<!-- Appointment -->
<!ELEMENT app:appointment (pat:patient, doc:doctor)>
<!ATTLIST app:appointment
    id     ID     #REQUIRED
    date   CDATA  #REQUIRED
    status CDATA  #REQUIRED
>

<!-- Patient -->
<!ELEMENT pat:patient (pat:name, pat:dob)>
<!ATTLIST pat:patient
    id ID #REQUIRED
>
<!ELEMENT pat:name (#PCDATA)>
<!ELEMENT pat:dob  (#PCDATA)>

<!-- Doctor -->
<!ELEMENT doc:doctor (doc:name, doc:specialty)>
<!ATTLIST doc:doctor
    id ID #REQUIRED
>
<!ELEMENT doc:name      (#PCDATA)>
<!ELEMENT doc:specialty (#PCDATA)>
