DTD_Buoi1/khoahoc.dtd

<!-- Root -->
<!ELEMENT elearning (course:course+)>
<!ATTLIST elearning
    xmlns:course      CDATA #IMPLIED
    xmlns:instructor  CDATA #IMPLIED
    xmlns:student     CDATA #IMPLIED
>

<!-- Course -->
<!ELEMENT course:course (course:title, instructor:instructor, course:students)>
<!ATTLIST course:course
    id       ID     #REQUIRED
    category CDATA  #REQUIRED
>

<!ELEMENT course:title (#PCDATA)>

<!-- Instructor -->
<!ELEMENT instructor:instructor (instructor:name, instructor:email)>
<!ATTLIST instructor:instructor
    id ID #REQUIRED
>
<!ELEMENT instructor:name  (#PCDATA)>
<!ELEMENT instructor:email (#PCDATA)>

<!-- Students wrapper -->
<!ELEMENT course:students (student:student+)>

<!-- Student -->
<!ELEMENT student:student (student:name)>
<!ATTLIST student:student
    id       ID     #REQUIRED
    progress CDATA  #REQUIRED
>
<!ELEMENT student:name (#PCDATA)>
