DTD_Buoi1/nhansu.dtd

<!-- Root -->
<!ELEMENT company (dep:department+)>
<!ATTLIST company
    xmlns:hr  CDATA #IMPLIED
    xmlns:dep CDATA #IMPLIED
>

<!-- Department -->
<!ELEMENT dep:department (hr:employee+)>
<!ATTLIST dep:department
    name CDATA #REQUIRED
>

<!-- Employee -->
<!ELEMENT hr:employee (hr:name, hr:position)>
<!ATTLIST hr:employee
    id ID #REQUIRED
>

<!ELEMENT hr:name     (#PCDATA)>
<!ELEMENT hr:position (#PCDATA)>
