Buoi6/supplier_catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="categories">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="category" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType mixed="true">
                  <xs:attribute name="id" type="xs:ID" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="products">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="product" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="price">
                      <xs:complexType mixed="true">
                        <xs:attribute name="currency" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="stock" type="xs:nonNegativeInteger" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:ID" use="required" />
                  <xs:attribute name="categoryRef" type="xs:IDREF" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>